<link rel="stylesheet" href="../../../src/assets/style.css">

<h1 class="titulo">TARJETAS</h1>


<div class="container">

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../../assets/peque.png" class="img-fluid rounded-circle circulo" alt="PEQUE">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Mellis</h5>
                    <p class="card-text">Este es un ejemplo de tarjeta con imagen redonda, para ello se utilizo la
                        opcion de "rounded-circle" y estilos para centrarla.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    <span class="badge text-bg-primary mx-1">CSS</span>
                    <span class="badge text-bg-warning mx-1">Bootstrap</span>
                    <span class="badge text-bg-success mx-1">Otros</span>
                </div>
            </div>
        </div>
    </div>

</div>